.far {
	font-size: 15px;
	cursor: pointer;
	user-select: none;
	color: black;
}

.far:hover {
	color: green;
}

.list {
	position: fixed;
	min-width: 620px;
}

.btn {
	border: none;
	outline: none;
	padding: 5px 20px;
	background-color: dimgray;
	cursor: pointer;
	color: floralwhite;
}

.row {
	/*background-color: white;*/
	border: 1px solid;
}

.flash {
	animation: flash linear 0.2s 3;
}

@keyframes flash {
	0% {
		border: 1px solid red;
	}
	100% {
		border: 1px solid black;
	}
}
