img {
	vertical-align: text-bottom;
}

.list {
	position: fixed;
	min-width: 620px;
}

.btn {
	border: none;
	outline: none;
	padding:5px 20px;
	background-color: dimgray;
	cursor: pointer;
	color: floralwhite;
}
