.far {
	font-size: 15px;
	cursor: pointer;
	user-select: none;
	color: black;
}

.far:hover {
	color: green;
}

.list {
	position: fixed;
	min-width: 620px;
}

.btn {
	border: none;
	outline: none;
	padding: 5px 20px;
	background-color: dimgray;
	cursor: pointer;
	color: floralwhite;
}

.row {
	background-color: white;
}

.flash {
	background: red;
	-webkit-animation: flash linear 0.2s infinite;
	animation: flash linear 0.2s 3;
}

@-webkit-keyframes flash {
	100% {
		opacity: 1;
	}
	0% {
		opacity: 0;
	}
}

@keyframes flash {
	100% {
		opacity: 1;
	}
	0% {
		opacity: 0;
	}
}
